header {
    background-color: var(--HeaderTop);
    height: 90px;
}

.Section-Header, .Nav-Header {
    display: flex;
    justify-content: space-around;
    height: 50%;
    width: 100%;
}

.Nav-Header {
    background-color: var(--HeaderClaro);
}

.Logo-Amazon {
    width: 5em;
}